venv/
__pycache__/
*.pyc
.env
instance/*.db
temp/
dataset/
kaggle_data/
node_modules/
*.log
static/uploads/*
KisanVision360.apk
KisanVision360-New.apk
KerasCache/
dataset_clean/
dataset_filtered/
.env
KerasCache/
dataset_clean/
dataset_filtered/
.env
