body{

background:#f1f8e9;
font-family:Arial;

}


.container{

padding:40px;

}



h1{

color:#166534;

text-align:center;

}



.alert{

padding:20px;

margin:20px;

border-radius:15px;

font-size:18px;

background:white;

box-shadow:0 5px 15px #ccc;

}



.warning{

border-left:8px solid orange;

}



.success{

border-left:8px solid green;

}



.info{

border-left:8px solid blue;

}



.danger{

border-left:8px solid red;

}



button{

background:#198754;

color:white;

padding:12px 25px;

border:none;

border-radius:20px;

}
