body{

background:#f1f8e9;

font-family:Arial;

}


.container{

padding:40px;

}



h1{

color:#166534;

text-align:center;

}



.help-card{

background:white;

padding:25px;

margin:20px;

border-radius:20px;

box-shadow:0 8px 20px #ccc;

}



button{

background:#198754;

color:white;

padding:12px 25px;

border:none;

border-radius:20px;

}
