<!DOCTYPE html>

<html>

<head>

<title>
KisanVision360 | Pest Detection
</title>


<link rel="stylesheet"
href="{{url_for('static',
filename='css/pest.css')}}">


</head>


<body>


<div class="container">


<h1>
🐛 AI Pest & Disease Detection
</h1>


<p>
Upload crop leaf image for AI analysis
</p>




<form method="POST"
enctype="multipart/form-data">


<input 
type="file"
name="crop_image"
accept="image/*"
required>



<button>

Analyze Crop

</button>


</form>





{% if image %}


<img src="{{url_for(
'static',
filename='uploads/'+image
)}}">


{% endif %}






{% if prediction %}


<div class="result">


<h2>
Detection Result
</h2>


<h1>
{{prediction}}
</h1>


</div>


{% endif %}



</div>


</body>

</html>
