body{

background:#f1f8e9;
font-family:Arial;

}


.container{

padding:40px;

}


h1{

color:#166534;
text-align:center;

}



.report-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

margin-top:40px;

}



.report-card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 8px 20px #ccc;

text-align:center;

transition:.3s;

}



.report-card:hover{

transform:translateY(-8px);

}



.report-card i{

font-size:45px;

color:#198754;

}



button{

background:#198754;

color:white;

padding:12px 25px;

border:none;

border-radius:20px;

margin-top:30px;

}
