body{

background:#f1f8e9;

font-family:'Segoe UI';

}



.container{

width:90%;

margin:40px auto;

}



h1{

text-align:center;

color:#14532d;

}



.scheme-grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}



.scheme-card{

background:white;

padding:25px;

border-radius:20px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

}



.scheme-card h2{

color:#198754;

}



.scheme-card h4{

margin-top:15px;

color:#14532d;

}



.scheme-card a{

display:inline-block;

margin-top:20px;

background:#198754;

color:white;

padding:12px 20px;

border-radius:20px;

text-decoration:none;

}
