<div class="sidebar">

    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">

    <h2>KisanVision360</h2>

    <p>AI Smart Farming</p>

    <a href="/farmer" class="{% if request.path == '/farmer' %}active{% endif %}">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span>
    </a>

    <a href="/weather" class="{% if request.path == '/weather' %}active{% endif %}">
        <i class="fa-solid fa-cloud-sun"></i>
        <span>Weather</span>
    </a>

    <a href="/recommendation" class="{% if request.path == '/recommendation' %}active{% endif %}">
        <i class="fa-solid fa-seedling"></i>
        <span>Crop Advisory</span>
    </a>

    <a href="javascript:void(0)" onclick="openChat()">
      <i class="fa-solid fa-robot"></i>
      <span>ChatBot</span>
    </a>
    <a href="/irrigation" class="{% if request.path == '/irrigation' %}active{% endif %}">
        <i class="fa-solid fa-droplet"></i>
        <span>Irrigation</span>
    </a>

    <a href="/pest" class="{% if request.path == '/pest' %}active{% endif %}">
        <i class="fa-solid fa-bug"></i>
        <span>Pest & Disease</span>
    </a>

    <a href="/market" class="{% if request.path == '/market' %}active{% endif %}">
        <i class="fa-solid fa-chart-line"></i>
        <span>Market Prices</span>
    </a>

    <a href="/schemes" class="{% if request.path == '/schemes' %}active{% endif %}">
        <i class="fa-solid fa-landmark"></i>
        <span>Government Schemes</span>
    </a>

    <a href="/marketplace" class="{% if request.path == '/marketplace' %}active{% endif %}">
        <i class="fa-solid fa-store"></i>
        <span>Marketplace</span>
    </a>

    <a href="/tools" class="{% if request.path == '/tools' %}active{% endif %}">
        <i class="fa-solid fa-tractor"></i>
        <span>Farmer Tools</span>
    </a>

    <a href="/reports" class="{% if request.path == '/reports' %}active{% endif %}">
        <i class="fa-solid fa-chart-pie"></i>
        <span>Reports</span>
    </a>

    <a href="/notifications" class="{% if request.path == '/notifications' %}active{% endif %}">
        <i class="fa-solid fa-bell"></i>
        <span>Alerts</span>
    </a>

    <a href="/settings" class="{% if request.path == '/settings' %}active{% endif %}">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
    </a>

    <a href="/help" class="{% if request.path == '/help' %}active{% endif %}">
        <i class="fa-solid fa-circle-question"></i>
        <span>Help</span>
    </a>

    <a href="/logout" class="logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
    </a>

</div>