<!DOCTYPE html>

<html>

<head>

<title>
KisanVision360 Alerts
</title>


<link rel="stylesheet"
href="{{url_for('static',
filename='css/alerts.css')}}">


</head>


<body>


<div class="container">


<h1>
🔔 Smart Farming Alerts
</h1>



<div class="alert warning">

⚠ Heavy rainfall expected.
Protect harvested crops.

</div>



<div class="alert success">

🌱 Crop health condition is normal.

</div>




<div class="alert info">

📈 Wheat market price increased today.

</div>



<div class="alert danger">

🐛 Pest risk detected.
Check crop leaves.

</div>




<a href="/farmer">

<button>
⬅ Dashboard
</button>

</a>



</div>


</body>

</html>
