<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AI Disease Detection | KisanVision360</title>


<link rel="stylesheet"
href="{{ url_for('static', filename='css/sidebar.css') }}">


<link rel="stylesheet"
href="{{ url_for('static', filename='css/disease.css') }}">


<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>


<body>


{% include "components/sidebar.html" %}



<div class="main-content">


<div class="topbar">

<h2>
🐛 AI Crop Disease Detection
</h2>

<p>
Upload crop leaf image and get AI diagnosis
</p>

</div>



<div class="upload-card">


<form
action="/predict_disease"
method="POST"
enctype="multipart/form-data">


<label>
Select Leaf Image
</label>


<input
type="file"
name="image"
accept="image/*"
required>



<button type="submit">

<i class="fa-solid fa-camera"></i>

Detect Disease

</button>


</form>


</div>





{% if image %}


<div class="result-card">


<div class="image-section">


<img
src="{{ url_for('static',
filename='uploads/' + image) }}"
alt="Crop Leaf">


</div>




<div class="prediction">


<h1>
{{ prediction }}
</h1>



<h2>

Status :

<span class="
{% if status == 'Healthy' %}
healthy
{% else %}
disease
{% endif %}
">

{{ status }}

</span>

</h2>




<h3>
Confidence :
{{ confidence }}%
</h3>



</div>





<div class="info-box">


<div>

<h3>
🔍 Symptoms
</h3>


<p>
{{ symptoms }}
</p>

</div>





<div>

<h3>
💊 Treatment
</h3>


<p>
{{ treatment }}
</p>


</div>





<div>


<h3>
🌱 Prevention
</h3>


<p>
{{ prevention }}
</p>


</div>



</div>



</div>


{% endif %}




</div>


</body>

</html>