<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="UTF-8">

<title>
KisanVision360 | EMI Calculator
</title>


<link rel="stylesheet"
href="{{url_for('static',
filename='css/emi.css')}}">


<script>

function calculateEMI(){


let amount =
document.getElementById("amount").value;


let rate =
document.getElementById("rate").value;


let years =
document.getElementById("years").value;



let monthlyRate =
rate/(12*100);


let months =
years*12;



let emi =
(amount*monthlyRate*Math.pow(1+monthlyRate,months))/
(Math.pow(1+monthlyRate,months)-1);



document.getElementById("result").innerHTML =
"Monthly EMI : ₹ "
+ Math.round(emi);


}


</script>


</head>


<body>


<div class="container">


<h1>
💰 Farm Machine EMI Calculator
</h1>



<div class="box">


<label>
Machine Price (₹)
</label>


<input id="amount"
placeholder="Example 600000">



<label>
Interest Rate (%)
</label>


<input id="rate"
value="8">



<label>
Loan Period (Years)
</label>


<input id="years"
value="5">



<button onclick="calculateEMI()">

Calculate EMI

</button>



<h2 id="result"></h2>


</div>



<a href="/tools">

<button class="back">

⬅ Back

</button>

</a>


</div>


</body>


</html>
