<!DOCTYPE html>

<html>


<head>


<title>
KisanVision360 | Market Prices
</title>


<link rel="stylesheet"
href="{{url_for('static',
filename='css/market.css')}}">


</head>



<body>



<div class="container">


<h1>
📈 Live Mandi Market Prices
</h1>



<form method="POST">


<input
name="crop"
placeholder="Enter crop name">

<button>

Search Price

</button>


</form>





{% if prices %}


<table>


<tr>

<th>
Commodity
</th>

<th>
Market
</th>

<th>
State
</th>

<th>
Min Price
</th>

<th>
Max Price
</th>

<th>
Modal Price
</th>

</tr>



{% for item in prices %}


<tr>


<td>
{{item.commodity}}
</td>


<td>
{{item.market}}
</td>


<td>
{{item.state}}
</td>


<td>
₹{{item.min_price}}
</td>


<td>
₹{{item.max_price}}
</td>


<td>
₹{{item.modal_price}}
</td>


</tr>


{% endfor %}



</table>


{% endif %}



</div>



</body>


</html>
