<div class="card">

    <i class="fa-solid fa-bell fa-2x"></i>

    <h2>Notifications</h2>

    <p>Weather and farming alerts</p>

    <div class="toggle-box">

        <label class="switch">

            <input
                type="checkbox"
                id="notification"
                onchange="toggleNotification()"
                checked>

            <span class="slider"></span>

        </label>

        <span id="status">ON</span>

    </div>

    <br>

    <button onclick="testNotification()">

        Test Notification

    </button>

</div>

<script>

function toggleNotification(){

    let notify=document.getElementById("notification");

    let status=document.getElementById("status");

    if(notify.checked){

        status.innerHTML="ON";

        localStorage.setItem("notification","ON");

    }

    else{

        status.innerHTML="OFF";

        localStorage.setItem("notification","OFF");

    }

}

window.onload=function(){

    let value=localStorage.getItem("notification");

    if(value=="OFF"){

        document.getElementById("notification").checked=false;

        document.getElementById("status").innerHTML="OFF";

    }

}

function testNotification(){

    if(Notification.permission==="granted"){

        new Notification("🌾 KisanVision360",{

            body:"Weather and Farming Alerts Enabled"

        });

    }

    else{

        Notification.requestPermission();

    }

}

</script>
