<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Marketplace</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='css/dashboard.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

{% include 'includes/sidebar.html' %}

<div class="main">

<div class="header">

<h1><i class="fa-solid fa-store"></i> Marketplace</h1>

<input type="text" placeholder="Search Product...">

</div>

<div class="cards">

{% for product in products %}

<div class="card">

<img src="{{ url_for('static',filename='images/marketplace/' + product.image) }}"
width="100%"
height="180">

<h2>{{ product.product_name }}</h2>

<p>₹ {{ product.price }}</p>

<p>{{ product.category }}</p>

<p>{{ product.quantity }} Kg</p>

<p>{{ product.description }}</p>

<button onclick="buyProduct({{ product.id }})">

Buy Now

</button>

</div>

{% endfor %}

</div>

</div>

<script>

function buyProduct(id){

window.location="/marketplace/product/"+id;

}

</script>

</body>

</html>
