body{

background:#f1f8e9;
font-family:Arial;

}



.container{

margin:50px auto;

width:80%;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 25px #ccc;

}



h1{

text-align:center;

color:#166534;

}



table{

width:100%;

border-collapse:collapse;

margin-top:30px;

}



th{

background:#198754;

color:white;

padding:15px;

}



td{

padding:15px;

border:1px solid #ddd;

text-align:center;

}



button{

background:#198754;

color:white;

padding:12px 25px;

border:none;

border-radius:20px;

margin-top:20px;

}
