<div class="card">

    <i class="fa-solid fa-language fa-2x"></i>

    <h2>Language</h2>

    <p>Select your preferred language</p>

    <select id="language" onchange="changeLanguage()">

        <option value="en">English</option>

        <option value="hi">हिन्दी</option>

        <option value="mr">मराठी</option>

    </select>

    <br><br>

    <button onclick="saveLanguage()">

        Save Language

    </button>

</div>

<script>

function saveLanguage(){

    let lang=document.getElementById("language").value;

    fetch("/set-language",{

        method:"POST",

        headers:{

            "Content-Type":"application/x-www-form-urlencoded"

        },

        body:"language="+lang

    })

    .then(()=>{

        alert("Language Updated Successfully");

        location.reload();

    });

}

function changeLanguage(){

    let lang=document.getElementById("language").value;

    localStorage.setItem("language",lang);

}

window.onload=function(){

    let lang=localStorage.getItem("language");

    if(lang){

        document.getElementById("language").value=lang;

    }

}

</script>
